

tr:nth-child(even) {
    background-color: $color-bg-alt;
}

th {
    text-align: left;
}

td {
    padding: .25em .5em;
 }
// first column a bit more left-padded
// tr > td
//   padding-left: .3em


// no underlined links in a table
td a {
    text-decoration: none;
    border-bottom: 0;
}
