pre.src {
    color: #DCDCDC;
    background-color: #3F3F3F;
}

pre.agenda {
    color: #DCDCDC;
    background-color: #3F3F3F;
}

.org-agenda-date {
    color: #a9a1e1;
}
.org-agenda-date-weekend {
    color: #656087;
}
.org-agenda-date-weekend-today {
    color: #cbc6ed;
}
.org-agenda-done {
    // color: #4F4F4F;
    color: #9FC59F;
    font-weight: bold;
}
.org-agenda-structure {
    color: #DCDCDC;
}
.org-done {
    // color: #4F4F4F;
    color: #9FC59F;
    font-weight: bold;
}
.org-tag {
    color: #9FC59F;
}
