pre.src {
    color: #DCDCDC;
    background-color: #3F3F3F;
}

pre.agenda {
    color: #DCDCDC;
    background-color: #3F3F3F;
}

.org-agenda-date {
    /* org-agenda-date */
    color: #a9a1e1;
}
.org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #656087;
}
.org-agenda-date-weekend-today {
    /* org-agenda-date-weekend-today */
    color: #cbc6ed;
}
.org-agenda-done {
    /* org-agenda-done */
    color: #4F4F4F;
    font-weight: bold;
}
.org-agenda-structure {
    /* org-agenda-structure */
    color: #DCDCDC;
}
.org-done {
    /* org-done */
    color: #4F4F4F;
    font-weight: bold;
}
.org-tag {
    /* org-tag */
    color: #9FC59F;
}
