@charset "utf-8";
@import "@csstools/normalize.css/normalize.css";
// @import './export-colors-doom-zenburn.scss';
@import "./export-colors-doom-monokai-machine.scss";

// Color bg and bg-alt MUST both have good contrast per WCAG against each of the rest!
// Check on https://coolors.co/contrast-checker

.theme-auto {
    // same as off-white
    --blossom: #45c;
    --fade: #a36;
    --text: #222;
    --bg: #f9f5f3;
    --bg-alt: #ddd;
    --grey: #666;
    --quoteblock: #bbb;
    @media (prefers-color-scheme: dark) {
        --blossom: #f66;
        --fade: #c99;
        --text: #d9d8dc;
        --bg: #2f1f24;
        --bg-alt: #433;
        --grey: #888;
        --quoteblock: #333;
        img[src^="/attachments/invertable"] {
            filter: invert(1);
        }
    }
}

.theme-white {
    --blossom: #45c;
    --fade: #a36;
    --text: #222;
    --bg: #f9f5f3;
    --bg-alt: #ddd;
    --grey: #666;
    --quoteblock: #bbb;
}

.theme-dark-red {
    --blossom: #f66;
    --fade: #c99;
    --text: #d9d8dc;
    --bg: #2f1f24;
    --bg-alt: #433;
    --grey: #888;
    --quoteblock: #333;
    img[src^="/attachments/invertable"] {
        filter: invert(1);
    }
}

.theme-tan {
    --blossom: #900;
    --fade: #502;
    --text: #000;
    --bg: #dca;
    // --bg      : #b96;
    --bg-alt: #cba;
    --grey: #666;
    --quoteblock: #bbb;
}

.theme-dark-amber {
    --blossom: #ea0;
    --fade: #a50; // too low contrast
    --text: #da7;
    --bg: #210;
    --bg-alt: #320;
    --grey: #888;
    --quoteblock: #333;
    img[src^="/attachments/invertable"] {
        filter: invert(1);
    }
}

.theme-pink {
    --blossom: #980255;
    --fade: #753851;
    --text: #49002d;
    --bg: #ffe4f5;
    --bg-alt: #f8d2e9;
    --grey: #666;
    --quoteblock: #bbb;
}

// unused ------------------

.theme-dark-green {
    --blossom: #3a0;
    --fade: #370;
    --text: #ab7;
    --bg: #220;
    --bg-alt: #110;
    --grey: #888;
}

.theme-green {
    --blossom: #390;
    --fade: #360;
    --text: #020;
    --bg: #dea;
    --bg-alt: #cdc;
}

.theme-earth {
    --blossom: #c26c49;
    --fade: #bd8869;
    --text: #310;
    --bg: #d8e3dd;
    --bg-alt: #e8c3a8;
}

// Make things themeable

html,
body,
#mandatory-wrapper {
    height: 100%;
}

#theme-container {
    min-height: 100%;
    color: var(--text);
    background-color: var(--bg-alt);
}

// Text

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    // font-size: 17px; font-family: Palatino, serif;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0.85em 0;
}

// The default 80% is just slightly too large
small,
sub,
sup {
    font-size: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1.3em;
}

h1 {
    font-size: 1.7em;
}

// Implicit cloze-deletions.  Encoded in the source as underlines, hence the name.
span.underline {
    padding: 2px;
    // border: 1px solid var(--grey);
    background-color: var(--bg-alt);
    // outline: 1px solid var(--grey);
}

@font-face {
    font-family: "M+1M";
    font-display: swap;
    src: local("M+1M"), url("$lib/mplus-1m-regular-webfont.woff2");
}

// When it comes to <pre> blocks in articles, I want them to room 80-character
// line lengths.  No declarative way to specify that in CSS, since there's no
// font-width property.  The font-size property is about height, and the width
// depends on the family.  So em, ex, px, pt... the unit doesn't matter as
// you'll still need to find the right size for each family by trial & error.
code,
pre {
    font-size: 14px;
    font-family: "M+1M", monospace;
}

// Basic layout

// The "central column", the edges of which disappear on mobile
#central-column {
    background-color: var(--bg);
}

body {
    margin: 0;
    background-color: #555;
}

article {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    // Don't ever let long lines break out of the bounds of the container
    overflow-wrap: anywhere;

    // Give tables horizontal scroll, which also lets us undo the above, a bad
    // idea in tables: breaks long numbers in narrow columns
    div.table-container {
        overflow-x: auto;
        overflow-wrap: normal;
    }

    // Don't let math equations break out of bounds either
    span.katex {
        overflow: auto;
    }
}

header > nav {
    display: flex;
    // flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    // flex-direction: row-reverse;
    // flex-direction: row;
    a {
        flex-grow: 5;
        text-align: center;
        // padding: 1em 0.7em;
        padding: 1em 1em;
        text-decoration: none;
        border-bottom: none;
    }
    a:visited {
        color: var(--blossom);
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--bg-alt);
    text-align: center;
    padding: 2em;
    padding-right: 0.2em;
    padding-bottom: 0;
    margin-top: auto;

    @media (min-width: 600px) {
        padding-right: 2em;
    }

    #theme-picker {
        label {
            background-color: var(--bg);
            padding: 10px;
            margin: 3px;
            cursor: pointer;
            // border-style: groove;
            // border-width: 3px;
        }
        // Hide the radio buttons
        // FIXME: keeb focus
        input {
            position: absolute !important;
            height: 1px;
            width: 1px;
            overflow: hidden;
            clip: rect(1px, 1px, 1px, 1px);
        }

        //  Highlight currently enabled theme
        label.theme-true {
            outline: var(--fade) 2px solid;
        }

        label:hover {
            outline: var(--blossom) 2px solid;
        }
    }
}

hr {
    border-color: var(--bg-alt);
}

ul,
ol {
    // padding-left: 1em;
    padding-left: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

ul ul,
ul ol,
ol ul,
ol ol {
    padding-left: 1.4em;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid var(--blossom);
    // margin-bottom: 2.5rem;
    // background-color: var(--bg-alt);
    background-color: var(--quoteblock);
}

// Add a fancy big quote symbol
blockquote > p:first-child:before {
    font-size: 4em;
    content: "“";
    line-height: 0;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

img,
video {
    max-height: 80vh;
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

// @media (prefers-color-scheme: dark) {
//     img[src^="/attachments/invertable"] { filter: invert(1); }
// }

// Pre and Code

pre {
    background-color: var(--quoteblock);
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 1.5em;
}

code,
kbd,
samp {
    padding: 0 0.4em;
    background-color: var(--bg-alt);
    white-space: pre-wrap;
}

// Code blocks exported from Org-babel.  See also ./export-colors-doom-zenburn.scss.
pre.src {
    padding: 6px 2px;
}

// Buttons, forms, input

input,
textarea {
    border: 1px solid var(--text);
    font-size: 100%;

    &:focus {
        border: 1px solid var(--blossom);
    }
}

textarea {
    width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"]::file-selector-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 100%;

    background-color: var(--blossom);
    color: var(--bg);
    border-radius: 1px;
    border: 1px solid var(--blossom);
    cursor: pointer;
    box-sizing: border-box;

    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }

    &:hover {
        background-color: var(--fade);
        color: var(--bg);
        outline: 0;
    }

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
    }
}

textarea,
select,
input {
    color: var(--text);
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--bg-alt);
    border: 1px solid var(--bg-alt);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--blossom);
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted var(--blossom);
}

label,
legend,
fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

// Logseq-styled pages

div.outline-2 {
    margin-left: 1em;
}

div.outline-3,
div.outline-4,
div.outline-5,
div.outline-6 {
    margin-left: 2em;
}

div.outline-2 > h2,
div.outline-3 > h3,
div.outline-4 > h4,
div.outline-5 > h5,
div.outline-6 > h6 {
    display: list-item;
    font-size: 1em;
    // (TODO refactor) Re-apply the same link style I have elsewhere bc it gets
    // overwritten by an unset rule in this file
    & > a {
        color: var(--blossom);
        border-bottom: 1px solid;
    }
    & > a:visited {
        color: var(--fade);
    }
}

// Links

a {
    color: var(--blossom);
    padding: 1px;
    border-bottom: 1px solid;
    text-decoration: none;
}

a:visited {
    color: var(--fade);
}
a:focus,
a:hover {
    outline: var(--blossom) solid 2px;
}

a.stub {
    color: var(--grey);
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after
{
    content: "↗️";
    // content: '<iconify-icon icon="fa:external-link"></iconify-icon>';
}

// Headline self-links better not look like links
h1,
h2,
h3,
h4,
h5,
h6 {
    & > a,
    & > a:visited {
        color: unset;
        border-bottom: unset;
    }
}

.undecorated-link {
    color: unset !important;
    border-bottom: unset !important;
}
.undecorated-link:after {
    content: unset !important;
}

a.u-uid {
    font-size: 120%;
}

// Tables

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

// Zebra stripes
tr:nth-child(even) {
    background-color: var(--bg-alt);
}

th {
    padding: 0.75em 0.25em;
    text-align: left;
}

// .5em padding dilutes the table, but it adds up to a tap-target minimum for
// mobile:  https://developer.chrome.com/docs/lighthouse/seo/tap-targets/
td {
    padding: 0.5em 0.4em;
    a {
        padding: 2px 0;
    }
}

#the-big-index {
    overflow-x: auto;

    a {
        border-bottom: none;
    }

    th {
        cursor: pointer;
    }

    tr:first-child > th:hover {
        background-color: var(--bg-alt);
        // outline: var(--blossom) solid 2px;
    }

    // ensure there's space for the sorting-arrow in the Created header
    th.creation-header {
        padding-right: 0;
    }

    // since these linebreak when you sort on them, ensure the arrow is centered
    th.words-header,
    th.links-header {
        text-align: center;
    }

    td.created {
        text-align: right;
        white-space: nowrap;
    }

    // compact the table-width just a bit, every px counts on mobile
    @media (max-width: 599px) {
        // th.words-header {
        //     padding-left: 0;
        //     padding-right: 0;
        //     text-align: center;
        // }
        // th.links-header {
        //     padding-left: 0;
        //     text-align: center;
        // }

        // thead, td:not(:first-child) {
        //     display: none;
        // }

        td:nth-child(2),
        td:nth-child(3),
        th:nth-child(2),
        th:nth-child(3) {
            display: none;
        }
    }
    // look better on desktop
    @media (min-width: 600px) {
        th {
            border: 3px groove var(--bg-alt);
            padding: 0.5em 0.25em;
        }
    }
}

// Breakpoints

@media (max-width: 599px) {
    // Try to meet "tap-targets" 48px minimum size+clearance per Lighthouse.
    // I won't do this all over the document, it's ok to fail that goal.
    // I suspect it's one reason that line-heights have been exploding of late...
    details.toc li,
    details.backlinks li {
        margin-top: 13px;
        margin-bottom: 13px;
        & > a {
            padding: 2px;
        }
    }
    details.toc li > a {
        border-bottom: none;
    }
}

@media (min-width: 600px) {
    img,
    video {
        max-height: 50vh;
    }

    #central-column {
        max-width: 42em;
    }
    header {
        padding: 0.5em;
        background-color: var(--bg);
        border-radius: 2px;
        box-shadow: -1px 1px 3px black;
    }
    article {
        padding-left: 3em;
        padding-right: 3em;
        // padding-bottom: 3em;
        margin-bottom: 4em;
    }
    div.paginator {
        border-radius: 2px;
        box-shadow: -1px 1px 3px black;
    }

    #central-column {
        margin: auto;
        // border-radius: 0.5em;
        // box-shadow: -2px 2px 1em black;
    }

    footer {
        max-width: 38em;
        margin: auto;
    }

    // slight extra left-pad in first column
    // (Largely deprecated by the new thead border)
    #the-big-index tr > th:first-child,
    #the-big-index tr > td:first-child {
        padding-left: 0.5em;
    }
    #the-big-index tr > td:last-child {
        padding-right: 0.5em;
    }
    td {
        // tighter tables OK on desktop (rarely touch-operated)
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    // Unset on wide screen bc now we will rely on sections setting the bg color
    // themselves and having visual separation
    #central-column {
        background-color: unset;
    }
    nav,
    article,
    #the-big-index {
        background-color: var(--bg);
    }
    article,
    section {
        border-bottom: 1px solid var(--bg-alt);
        margin-top: 0.2em;
        padding-top: 0.8em;
        padding-right: 0;
        // Now that sections have minimal left-right padding, ensure that the
        // content will provide its own margins.
        // it'd be simpler with just an inner div.
        p,
        ol,
        ul,
        blockquote,
        hr,
        pre {
            margin-right: 1em;
            margin-left: 1em;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-left: 0.5em;
        }
        // p,
        // h1,
        // h2,
        // h3,
        // h4,
        // h5,
        // h6,
        // ol,
        // ul,
        // blockquote {
        //     margin-left: 1em;
        // }
        // blockquote {
        //     margin-right: 1em;
        //     p,
        //     li {
        //         margin-right: 0.4em;
        //     }
        // }

        padding-left: 1em;
        @media (max-width: 599px) {
            padding-left: 0.8em;
        }
        border-radius: 3px;
        box-shadow: -2px 2px 7px black;
        // margin-bottom: 9px;
    }
    section.odd {
        background-color: var(--bg);
    }
    section.even {
        background-color: var(--bg-alt);
    }
}
