@charset "utf-8";
@import 'normalize.css/normalize.css';
@import './export-colors-doom-zenburn.scss';

// Color bg and bg-alt MUST both have good contrast per WCAG against each of the rest!
// Check on https://coolors.co/contrast-checker
// TODO: fix

.theme-auto {
    // same as off-white
    --blossom : #45c ;
    --fade    : #a36 ;
    --text    : #222 ;
    --bg      : #f9f5f3 ;
    --bg-alt  : #ddd ;
    @media (prefers-color-scheme: dark) {
        --blossom : #f66;
        --fade    : #c99;
        --text    : #d9d8dc;
        --bg      : #2f1f24;
        --bg-alt  : #433;
    }
}

.theme-white {
    --blossom : #45c ;
    --fade    : #a36 ;
    --text    : #222 ;
    --bg      : #f9f5f3 ;
    --bg-alt  : #ddd ;
}

.theme-dark-red {
    --blossom : #f66;
    --fade    : #c99;
    --text    : #d9d8dc;
    --bg      : #2f1f24;
    --bg-alt  : #433;
}

.theme-tan {
    --blossom : #900;
    --fade    : #502;
    --text    : #000;
    --bg      : #dca;
    --bg-alt  : #cba;
}

.theme-dark-amber {
    --blossom : #ea0;
    --fade    : #a50; // too low contrast
    --text    : #da7;
    --bg      : #210;
    --bg-alt  : #320;
}

.theme-pink {
    --blossom : #980255;
    --fade    : #753851;
    --text    : #49002d;
    --bg      : #ffe4f5;
    --bg-alt  : #f8d2e9;
}


// unused ------------------

.theme-dark-green {
    --blossom : #3a0;
    --fade    : #370;
    --text    : #ab7;
    --bg      : #220;
    --bg-alt  : #110;
}

.theme-green {
    --blossom : #390;
    --fade    : #360;
    --text    : #020;
    --bg      : #dea;
    --bg-alt  : #cdc;
}

.theme-earth {
    --blossom : #c26c49;
    --fade    : #bd8869;
    --text    : #310;
    --bg      : #d8e3dd;
    --bg-alt  : #e8c3a8;
}


// Make things themeable

html, body, #mandatory-wrapper {
    height: 100%;
}

#theme-container {
    min-height: 100%;
    color: var(--text);
    background-color: var(--bg-alt);
}


// Font

@font-face {
    font-family: "M+1M";
    font-display: swap;
    src: url("$lib/mplus-1m-regular.ttf");
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 16px;
}

// When it comes to <pre> blocks in articles, I want them to fit 80-character
// line lengths.  No declarative way to specify that in CSS, since there's no
// font-width property.  The font-size property is about height, and the width
// depends on the family.  So em, ex, px, pt... the unit doesn't matter as
// you'll still need to find the right size for each font by trial & error.
code, pre {
    font-family: "M+1M", monospace;
    font-size: 14px;
}



// The "central column", the edges of which disappear on mobile
#central-column {
    background-color: var(--bg);
}

body {
    line-height: 1.35;
    text-rendering: optimizeLegibility;
}

article {
    // Don't ever let long lines break out of the bounds of the container
    overflow-wrap: anywhere;
    // Give tables horizontal scroll, which also lets us undo the above, a bad
    // idea in tables: breaks long numbers in narrow columns
    .table-container {
        overflow-x: auto;
        overflow-wrap: normal;
    }
}

header > nav {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    a {
        flex-grow: 5;
        text-align: center;
        padding: 1em .7em;
        text-decoration: none;
        border-bottom: none;
    }
    a:visited {
        color: var(--blossom);
    }
}

 .row {
     display: flex;
     justify-content: space-between;
 }

 footer {
     background-color: var(--bg-alt);
     text-align: center;
     padding: 2em;
     padding-right: 0.2em;
     padding-bottom: 0;
     margin-top: auto;

     @media (min-width: 600px) {
         padding-right: 2em;
     }

     #theme-picker {
         label {
             background-color: var(--bg);
             padding: 10px;
             margin: 0;
             cursor: pointer;
             // display: inline;

             border-style: groove;
             border-width: 3px;

         }
         // /* Hide the radio buttons */
         input {
             position: absolute !important;
             height: 1px;
             width: 1px;
             overflow: hidden;
             clip: rect(1px, 1px, 1px, 1px);
         }


         //  Highlight currently enabled theme
         .theme-true, label:focus-within { border-color: var(--fade); }

         label:hover {
             outline: var(--blossom) 2px solid;
         }
     }

 }

 h1, h2, h3, h4, h5, h6 {
     font-weight: normal;
     font-size: 1.3em;
 }

h1 { font-size: 1.7em; }
// h2 { font-size: 1.4em; }
// h3 { font-size: 1.3em; }
// h4 { font-size: 1.25em; }
// h5 { font-size: 1.2em; }
// h6 { font-size: 1.15em; }

.logseq {
    h2, h3, h4, h5, h6 {
        font-size: 1em;
        display: list-item;
    }
    h3, h4, h5, h6 {
        margin-bottom: .3em;
        margin-top: .3em;
    }
    h2 { margin-left: 0; }
    h3 { margin-left: 1em; }
    h4 { margin-left: 2em; }
    h5 { margin-left: 3em; }
    h6 { margin-left: 4em; }
}

summary {
    display: block;
    margin-bottom: .5em;
    cursor: pointer;
    h1,h2,h3,h4,h5,h6 { display: inline; }
}

details {
    border-bottom: 1px solid var(--bg-alt);
    margin-top: .2em;
}

details[open] + details {
    margin-top: 1em;
}

:not(details) + details:first-of-type {
    margin-top: 2em;
}

// heading with no text, just direct subheading
summary + details {
    margin-top: 1em !important;
}

// summary + :not(details):last-of-type {
//     margin-bottom: 2em;
// }

// Old version
// details > details {
//     margin-top: 1em;
//     margin-left: 1.5em;
//     @media (max-width: 599px) { margin-left: .8em; }
// }

// "Hovering cards" version
details > details {
    padding-top: .8em;
    padding-left: 1.5em;
    @media (max-width: 599px) { padding-left: .8em; }
    padding-right: 0.5em;
    border-radius: 3px;
    box-shadow: -2px 2px 7px black;
}


// The default is like 80 or 85%, just slightly too large
small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: var(--bg-alt);
}

ul,ol {
    padding-left: 1.4em;
    // margin-top: .5em;
    // margin-bottom: 1.5em;
}

li {
    margin-top: .3em;
    margin-bottom: .3em;
}

// any diff between this selector and just ul?
ul:last-child {
    margin-bottom: .6em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid var(--blossom);
    // margin-bottom: 2.5rem;
    background-color: var(--bg-alt);

}

// Add a fancy big quote symbol
blockquote > p:first-child:before {
    font-size: 4em;
    content: '“';
    line-height: 0;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

img, video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */

pre {
    background-color: var(--bg-alt);
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 1.5em;
}

code, kbd, samp {
    padding: 0 0.5em;
    background-color: var(--bg-alt);
    white-space: pre-wrap;
}

// Code blocks exported from Org-babel.  See also ./export-colors-doom-zenburn.scss.
pre.src {
    padding: 6px 2px;
}

/* Buttons, forms and input */

input, textarea {
    border: 1px solid var(--text);

    &:focus {
        border: 1px solid var(--blossom);
    }
}

textarea {
    width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"], input[type=file]::file-selector-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: var(--blossom);
    color: var(--bg);
    border-radius: 1px;
    border: 1px solid var(--blossom);
    cursor: pointer;
    box-sizing: border-box;

    &[disabled] {
        cursor: default;
        opacity: .5;
    }

    &:hover {
        background-color: var(--fade);
        color: var(--bg);
        outline: 0;
    }

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
    }
}

textarea, select, input {
    color: var(--text);
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--bg-alt);
    border: 1px solid var(--bg-alt);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--blossom);
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted var(--blossom);
}

label, legend, fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}



// Links

a {
    color: var(--blossom);
    border-bottom: 1px solid;
    text-decoration: none;
}

a:visited { color: var(--fade); }
a:focus, a:hover { outline: var(--blossom) solid 2px; }


// Indicate "unlocked" links
a.eyes_therapist:after,
a.eyes_partner:after,
a.eyes_friend:after {
  content: "🗝";
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

// The headline permalinks that look like 🔗
a.easylink {
  text-decoration: none;
  border-bottom: none;
}


// Tables

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

#the-big-index {
    overflow-x: auto;
    a { border-bottom: none; }
    th > input { width: 100%; }
    tr:nth-child(2) > th:hover {
        background-color: var(--bg);
        cursor: pointer;
    }
}


tr:nth-child(even) {
    background-color: var(--bg-alt);
}

tr:hover {
    filter: invert(1);
}

th {
    padding: .75em .25em;
    text-align: left;
}

// th > input {
//     width: 100%;
// }

// .5em is insane, but it's a tap-target optimization for mobile
//  https://developer.chrome.com/docs/lighthouse/seo/tap-targets/
td {
    padding: .5em .4em;
 }

article {
    padding-left: 5px;
    padding-right: 5px;
}

// ensure there's space for the sorting-arrow in the Created header
th:last-child {
    padding-right: 0;
}



// Breakpoints

@media (min-width: 600px) {
    #central-column {
        margin: auto;
        max-width: 38em; // just slightly over 600px
        border-radius: .5em;
        box-shadow: -2px 2px 1em black;
    }
    footer {
        max-width: 38em;
        margin: auto;
    }
    article {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        margin-bottom: 2em;
    }
    // slight extra left-pad in first column
    #the-big-index tr > td:first-child {
        padding-left: .6em;
    }
    #the-big-index tr > td:last-child {
        padding-right: .6em;
    }
    td {
        // undo tap-target optimization
        padding-top: .25em;
        padding-bottom: .25em;
    }

}
@media (min-width: 900px) {
    #central-column {
        max-width: 42em;
    }
    header {
        padding: .5em;
    }
    article {
        // padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
        margin-bottom: 4em;
    }
}
