a { color: $color-blossom; }
a:visited { color: darken($color-blossom, 10%); }
a:hover, a:visited:hover { color: $color-fade; }

// Indicate "unlocked" links
a.eyes_therapist:after,
a.eyes_partner:after,
a.eyes_friend:after {
  content: "🗝";
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

a.easylink {
  text-decoration: none;
  border-bottom: none;
}
