a.private {
  color: red;
}

// Indicate unlocked links
a.eyes_therapist:after,
a.eyes_partner:after,
a.eyes_friend:after {
  content: "🗝";
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

a.easylink {
  text-decoration: none;
  border-bottom: none;
}

td a {
    text-decoration: none;
}
