@import 'sakura.css/css/normalize.css';
$font-family-base: Palatino, Georgia, serif;
  $font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
@media only screen and (max-resolution: 200dpi) {}
// @media only screen and (max-resolution: 72dpi) {some bitmap font}

$font-family-heading: $font-family-base;
$font-size-base: 1.6rem;

// @media only screen and (prefers-color-scheme: dark)

// sakura pink
$color-fade: #753851;
$color-blossom: #980255;
$color-bg: #ffe4f5;
$color-bg-alt: #f8d2e9;
$color-text: #49002d;

// an attempt at sepia
// see more palettes at https://icolorpalette.com/sepia
$color-fade: #765542;
$color-blossom: #0000cc;
$color-bg: #ffdfcf;
$color-bg-alt: #f0cbbb;
$color-text: #492d00;

// sakura vader
$color-fade: #DA4453;
$color-blossom: lighten($color-fade, 20%);
$color-bg: lighten(#120c0e, 10%);
// $color-bg-alt: #40363a // too bright
$color-bg-alt: lighten($color-bg, 9%);
$color-text: #d9d8dc;


@import "sakura.css/scss/main";

// ----------------------------------------------------------------------------
// BASIC FIXES FOR SAKURA CSS

// Centered viewports are nice, but the rule shouldn't be on <body>, but a
// container like <main> so it's optional.
body {
  max-width: unset;
}
main {
  margin: auto;
  max-width: 38em;
}

// Don't change font size on different devices!  Bigger devices fit more info
// on-screen and that's nice.  Rules like that essentially ban modding
// $base-font-size; try setting it to 1.4rem, it turns unreadable on the phone.
// You're locked at 1.8rem as if it was hardcoded.
body {
  @media only screen and (max-width: 684px) { font-size: $font-size-base; }
  @media only screen and (max-width: 382px) { font-size: $font-size-base; }
}

// Don't justify text in a table... it'll look bad in a cell with a sentence
// wrapping over two lines.
table {
  text-align: unset;
}

p {
  // use em units, not rem
  margin-bottom: 2.5em;
}


// ----------------------------------------------------------------------------


// to get the arrow on the same line as the heading, do this
// but it doesn't help for long headings that wrap
// h2 {
//   display: inline-block;
// }

// body {
//   height: 100%;
// }
// footer {
//   position: relative;
//   bottom: 0;
// }

p,
blockquote p {
  margin-bottom: 1em;
}

body {
  line-height: 1.3;
  padding: unset;
}

li {
  margin-bottom: .5em;
}

main a,
main a:hover {
border-bottom: 1px solid $color-blossom;
}

footer {
  background-color: $color-bg-alt;
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

.easylink {
  text-decoration: none;
  border-bottom: none;
}

// I would let these rules be scoped to the relevant pages, but because
// ./all/+page.svelte renders a black-box component SvelteTable, the rules won't
// apply there.  So I must apply them globally.
@import './compactTable.scss';

