


// to get the arrow on the same line as the heading, do this
// but it doesn't help for long headings that wrap
// h2 {
//   display: inline-block;
// }

// body {
//   height: 100%;
// }
// footer {
//   position: relative;
//   bottom: 0;
// }

// details[open] summary ~ * {
//   animation: sweep .5s ease-in-out;
// }


// @keyframes sweep {
//   0%    {opacity: 0; transform: translateX(-10px)}
//   100%  {opacity: 1; transform: translateX(0)}
// }

// summary:before {
//   content: '';
//   border-width: .4rem;
//   border-style: solid;
//   border-color: transparent transparent transparent #000;
//   position: absolute;
//   top: 1.3rem;
//   left: 1rem;
//   transform: rotate(0);
//   transform-origin: .2rem 50%;
//   transition: .25s transform ease;
// }
// details[open] > summary::before { transform: rotate(90deg); }

// // details summary {
// //   cursor: pointer;
// //   transition: margin 350ms ease-out;
// // }
// // details[open] summary {
// //   margin-bottom: 10px;
// // }

// @import './pico-accordion.scss';
