@import 'normalize.css/normalize.css';


// edited sakura default
$lightcolor-blossom: #485fc7;
$lightcolor-dark-blossom: darken(#485fc7, 10%);
$lightcolor-fade: #982c61;
$lightcolor-bg: #f9f9f9;
$lightcolor-bg-alt: darken(#f1f1f1, 5%);
$lightcolor-text: #000000;


// sakura vader
$darkcolor-fade: #CA3443;
$darkcolor-blossom: lighten($darkcolor-fade, 25%);
$darkcolor-dark-blossom: darken($darkcolor-blossom, 10%);
$darkcolor-bg: lighten(#120c0e, 10%);
// $darkcolor-bg-alt: #40363a // too bright
$darkcolor-bg-alt: lighten($darkcolor-bg, 9%);
$darkcolor-text: #d9d8dc;


:root {
    --color-blossom      : #{$lightcolor-blossom};
    --color-dark-blossom : #{$lightcolor-dark-blossom};
    --color-fade         : #{$lightcolor-fade};
    --color-bg           : #{$lightcolor-bg};
    --color-bg-alt       : #{$lightcolor-bg-alt};
    --color-text         : #{$lightcolor-text};
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --color-fade         : #{$darkcolor-fade};
        --color-dark-blossom : #{$darkcolor-dark-blossom};
        --color-blossom      : #{$darkcolor-blossom};
        --color-bg           : #{$darkcolor-bg};
        --color-bg-alt       : #{$darkcolor-bg-alt};
        --color-text         : #{$darkcolor-text};
    }
}

// @media only screen and (max-resolution: 200dpi) {}
// @media only screen and (max-resolution: 72dpi) {some bitmap font}

/* Body */

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    line-height: 1.35;
//    margin: auto;
    color: var(--color-text);
    background-color: var(--color-bg-alt);
    // background-color: darken(var(--color-bg, 10%));

    // text-rendering: optimizelegibility;
    // font-weight: 400;
}

// The "central column" on desktops, which hopefully disappears on mobile
#central-column {
    background: var(--color-bg);
}

@media (max-width: 684px) {
    article {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 684px) {
    article {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        margin-bottom: 2em;
    }
    #the-big-table tr > td {
        padding-left: .7em
    }
    #the-big-table tr:last-child {
        padding-right: .7em
    }
    #central-column {
        margin: auto;
        max-width: 38em;
        border-radius: .5em;
        box-shadow: 0 0 1em black;
    }
}

@media (min-width: 800px) {
    #central-column {
        max-width: 42em;
    }
    header {
        padding: .5em;
    }
    article {
        // padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
        margin-bottom: 4em;
    }
}

header > nav {
    display: flex;
    flex-wrap: wrap-reverse;
    // justify-content: space-between;
    // align-items: center;
    a {
        flex-grow: 5;
        // align-self: center;
        text-align: center;
        padding: 1em .7em;
        text-decoration: none;
        // border-top: 2px solid var(--color-bg);
        // border-bottom: 2px solid var(--color-bg);
    }
    a:hover {
        outline: var(--color-fade) solid 2px;
    }
}

footer {
    background-color: var(--color-bg-alt);
    text-align: center;
    padding: 2em;
    margin-top: auto;
}


// ??
@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    // line-height: 1.1;
    // font-weight: 700;
    // margin-top: 3rem;
    // margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 1.5em;
    @include word-wrap;
}

.logseq {
    h2, h3, h4, h5, h6 {
        font-size: 1em;
        display: list-item;
    }
    h3, h4, h5, h6 { margin-bottom: .3em; margin-top: .3em; }
    h3 { margin-left: 1em; }
    h4 { margin-left: 2em; }
    h5 { margin-left: 3em; }
    h6 { margin-left: 4em; }
}

summary {
    display: block;
    margin-bottom: .5em;
    cursor: pointer;
    h1,h2,h3,h4,h5,h6 { display: inline; }
}

details {
    border-bottom: 1px solid var(--color-bg-alt);
    // border-bottom: 1px solid var(--color-fade);
    margin-top: .3em;
    // margin-bottom: 1em;
}

details[open] + details {
    margin-top: 1em;
}

details > details {
    margin-top: 1em;
    margin-left: 1.5em;
    @media only screen and (max-width: 684px) { margin-left: .8em; }
    @media only screen and (max-width: 382px) { margin-left: 0; }
}


// The default is like 80 or 85%, just slightly too large
small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: var(--color-blossom);
}

td a {
    text-decoration: none;
}

ul,ol {
    padding-left: 1.4em;
    // margin-top: .5em;
    // margin-bottom: 1.5em;
}

li {
    margin-top: .3em;
    margin-bottom: .3em;
}

// li + li {
//     margin-top: .3em;
//     margin-bottom: .3em;
// }

// any diff between this selector and just ul?
ul:last-child {
    margin-bottom: .6em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid var(--color-blossom);
    // margin-bottom: 2.5rem;
    background-color: var(--color-bg-alt);
}

img, video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */

// I'd like to set a specific network-loaded font so I'm certain it can show 80
// chars.  Maybe the size should even be expressed in px, though then
// #central-column should probably also be.
// Also, check that the chosen size goes well with inline <code>.
code, pre { font-size: 0.8em; }

pre {
    background-color: var(--color-bg-alt);
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 1.5em;
}

code, kbd, samp {
    padding: 0 0.5em;
    background-color: var(--color-bg-alt);
    white-space: pre-wrap;
}

// Code blocks exported from Org-babel.  Get foreground and background from the
// Emacs theme.
pre.src {
    padding: 6px 2px;
    color: #FAFFF6;
    background: #172030;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td, th {
    padding: 0.5em;
    border-bottom: 1px solid var(--color-bg-alt);
}

/* Buttons, forms and input */

input, textarea {
    border: 1px solid var(--color-text);

    &:focus {
        border: 1px solid var(--color-blossom);
    }
}

textarea {
    width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"], input[type=file]::file-selector-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: var(--color-blossom);
    color: var(--color-bg);
    border-radius: 1px;
    border: 1px solid var(--color-blossom);
    cursor: pointer;
    box-sizing: border-box;

    &[disabled] {
        cursor: default;
        opacity: .5;
    }

    &:hover {
        background-color: var(--color-fade);
        color: var(--color-bg);
        outline: 0;
    }

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
    }
}

textarea, select, input {
    color: var(--color-text);
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--color-bg-alt);
    border: 1px solid var(--color-bg-alt);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--color-blossom);
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted var(--color-blossom);
}

label, legend, fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

@import './tables.scss';
@import './links.scss';

a { color: var(--color-blossom);}
a:visited { color: var(--color-dark-blossom); }
a:hover, a:visited:hover { color: var(--color-fade); }

// Indicate "unlocked" links
a.eyes_therapist:after,
a.eyes_partner:after,
a.eyes_friend:after {
  content: "🗝";
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

a.easylink {
  text-decoration: none;
  border-bottom: none;
}






// make it scrollable so it doesn't mess up layout on the phone
#the-big-table { overflow-x: auto; }

tr:nth-child(even) {
    background-color: var(--color-bg-alt);
}

// tr {
//     border-bottom: 1px solid $color-fade;
// }

th {
    text-align: left;
}

td {
    padding: .25em .5em;
 }
// first column a bit more left-padded
// tr > td
//   padding-left: .3em
