@import 'normalize.css/normalize.css';

.theme-auto {
    --color-blossom      : #a00;
    --color-fade         : #700;
    --color-bg           : #dcb;
    --color-bg-alt       : #cba;
    --color-text         : #000;
    @media (prefers-color-scheme: dark) {
        --color-blossom      : #d86672;
        --color-fade         : #ca3443;
        --color-bg           : #2f1f24;
        --color-bg-alt       : #462e36;
        --color-text         : #d9d8dc;
    }
}

.theme-light {
    --color-blossom      : #485fc7 ;
    --color-fade         : #982c61 ;
    --color-bg           : #f9f5f3 ;
    --color-bg-alt       : #dddbd9 ;
    --color-text         : #000000 ;
}

.theme-dark-red {
    --color-blossom      : #d86672;
    --color-fade         : #ca3443;
    --color-bg           : #2f1f24;
    --color-bg-alt       : #462e36;
    --color-text         : #d9d8dc;
}

// lol
.theme-dark-green {
    --color-blossom      : #3a0;
    --color-fade         : #370;
    --color-bg           : #220;
    --color-bg-alt       : #110;
    --color-text         : #8a5;
}

.theme-sepia {
    --color-blossom      : #a00;
    --color-fade         : #700;
    // --color-bg           : #dcb;
    // --color-bg-alt       : #fec;
    // --color-bg           : #dcb;
    --color-bg           : #dca;
    --color-bg-alt       : #cba;
    --color-text         : #000;
}

.theme-dark-amber {
    --color-blossom      : #fa0;
    --color-fade         : #a50;
    --color-bg           : #210;
    --color-bg-alt       : #320;
    --color-text         : #da7;
}


.theme-pink {
    --color-blossom      : #980255;
    --color-fade         : #753851;
    --color-bg           : #ffe4f5;
    --color-bg-alt       : #f8d2e9;
    --color-text         : #49002d;
}


// Make things themeable

html, body, #mandatory-wrapper {
    height: 100%;
}

#theme-container {
    min-height: 100%;
    color: var(--color-text);
    background-color: var(--color-bg-alt);
}

// input.theme-switch:focus ~ #theme-container {
#theme-pink:focus ~ #theme-container {
    --color-blossom: #980255;
    --color-fade   : #753851;
    --color-bg     : #ffe4f5;
    --color-bg-alt : #f8d2e9;
    --color-text   : #49002d;
}


#theme-dark-amber:focus ~ #theme-container {
    --color-blossom      : #fa0;
    --color-fade         : #a50;
    --color-bg           : #210;
    --color-bg-alt       : #320;
    --color-text         : #da7;
}



// Font

@font-face {
    font-family: "M+1M";
    font-display: swap;
    src: url("$lib/mplus-1m-regular.ttf")
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 16px;
}

// When it comes to <pre> blocks in articles, I want them to fit 80-character
// line lengths.  No declarative way to specify that in CSS, since there's no
// font-width property.  The font-size property is about height, and the width
// depends on the family.  So em, ex, px, pt... the unit doesn't matter as
// you'll still need to find the right size for each font by trial & error.
code, pre {
    font-family: "M+1M", monospace;
    font-size: 14px;
}



// The "central column", the edges of which disappear on mobile
#central-column {
    background-color: var(--color-bg);
}

body {
    line-height: 1.35;
    text-rendering: optimizeLegibility;
}

article {
    // Don't ever let long lines break out of the bounds of the container
    overflow-wrap: anywhere;
    // Give tables horizontal scroll, which also lets us undo the above, a bad
    // idea in tables: breaks long numbers in narrow columns
    .table-container {
        overflow-x: auto;
        overflow-wrap: normal;
    }
}

header > nav {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    a {
        flex-grow: 5;
        text-align: center;
        padding: 1em .7em;
        text-decoration: none;
        border-bottom: none;
    }
    a:visited {
        color: var(--color-blossom);
    }
}

 .row {
     display: flex;
     justify-content: space-between;
 }

footer {
    background-color: var(--color-bg-alt);
    text-align: center;
    padding: 2em;
    margin-top: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 1.3em;
}

h1 { font-size: 1.7em; }
// h2 { font-size: 1.4em; }
// h3 { font-size: 1.3em; }
// h4 { font-size: 1.25em; }
// h5 { font-size: 1.2em; }
// h6 { font-size: 1.15em; }

.logseq {
    h2, h3, h4, h5, h6 {
        font-size: 1em;
        display: list-item;
    }
    h3, h4, h5, h6 {
        margin-bottom: .3em;
        margin-top: .3em;
    }
    h2 { margin-left: 0; }
    h3 { margin-left: 1em; }
    h4 { margin-left: 2em; }
    h5 { margin-left: 3em; }
    h6 { margin-left: 4em; }
}

summary {
    display: block;
    margin-bottom: .5em;
    cursor: pointer;
    h1,h2,h3,h4,h5,h6 { display: inline; }
}

details {
    border-bottom: 1px solid var(--color-bg-alt);
    margin-top: .3em;
}

details[open] + details {
    margin-top: 1em;
}

// Old version
// details > details {
//     margin-top: 1em;
//     margin-left: 1.5em;
//     @media (max-width: 599px) { margin-left: .8em; }
// }

// "Hovering cards" version
details > details {
    padding-top: .8em;
    padding-left: 1.5em;
    @media (max-width: 599px) { padding-left: .8em; }
    border-radius: 3px;
    box-shadow: 2px 2px 7px black;
}

// heading with no text, just direct subheading, should have more room
summary + details {
    margin-top: 1em;
}
summary + :not(details):last-of-type {
    margin-bottom: 2em;

}


// The default is like 80 or 85%, just slightly too large
small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: var(--color-bg-alt);
}

td a {
    text-decoration: none;
}

ul,ol {
    padding-left: 1.4em;
    // margin-top: .5em;
    // margin-bottom: 1.5em;
}

li {
    margin-top: .3em;
    margin-bottom: .3em;
}

// any diff between this selector and just ul?
ul:last-child {
    margin-bottom: .6em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid var(--color-blossom);
    // margin-bottom: 2.5rem;
    background-color: var(--color-bg-alt);
}

img, video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */

pre {
    background-color: var(--color-bg-alt);
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 1.5em;
}

code, kbd, samp {
    padding: 0 0.5em;
    background-color: var(--color-bg-alt);
    white-space: pre-wrap;
}

// Code blocks exported from Org-babel.  Get foreground and background from the
// Emacs theme.
pre.src {
    padding: 6px 2px;
    color: #FAFFF6;
    background: #172030;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

/* Buttons, forms and input */

input, textarea {
    border: 1px solid var(--color-text);

    &:focus {
        border: 1px solid var(--color-blossom);
    }
}

textarea {
    width: 100%;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"], input[type=file]::file-selector-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    background-color: var(--color-blossom);
    color: var(--color-bg);
    border-radius: 1px;
    border: 1px solid var(--color-blossom);
    cursor: pointer;
    box-sizing: border-box;

    &[disabled] {
        cursor: default;
        opacity: .5;
    }

    &:hover {
        background-color: var(--color-fade);
        color: var(--color-bg);
        outline: 0;
    }

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
    }
}

textarea, select, input {
    color: var(--color-text);
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: var(--color-bg-alt);
    border: 1px solid var(--color-bg-alt);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--color-blossom);
        outline: 0;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted var(--color-blossom);
}

label, legend, fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}


a {
    color: var(--color-blossom);
    border-bottom: 1px solid;
    text-decoration: none;
}

a:visited { color: var(--color-fade); }
a:focus, a:hover { outline: var(--color-blossom) solid 2px; }


// Indicate "unlocked" links
a.eyes_therapist:after,
a.eyes_partner:after,
a.eyes_friend:after {
  content: "🗝";
}

// Indicate external links
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "↗️";
}

// The headline permalinks that look like 🔗
a.easylink {
  text-decoration: none;
  border-bottom: none;
}


#the-big-index {
    overflow-x: auto;
    th:hover {
        background: var(--color-bg-alt);
        cursor: pointer;
    }
}

tr:nth-child(even) {
    background-color: var(--color-bg-alt);
}

// tr {
//     border-bottom: 1px solid $color-fade;
// }

th {
    padding: .5em;
    text-align: left;
}

td {
    padding: .25em .4em;
 }

article {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 600px) {
    #central-column {
        margin: auto;
        max-width: 38em; // just slightly over 600px
        border-radius: .5em;
        box-shadow: 0 0 1em black;
    }
    article {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        margin-bottom: 2em;
    }
    // slight extra left-pad in first column
    #the-big-index tr > td:first-child {
        padding-left: .6em;
    }
    #the-big-index tr > td:last-child {
        padding-right: .6em;
    }
    // ensure there's space for the sorting-arrow in the Created & Updated
    // headers
    th:last-child, th:nth-last-child(2) {
        padding-right: 0;
    }
}
@media (min-width: 900px) {
    #central-column {
        max-width: 42em;
    }
    header {
        padding: .5em;
    }
    article {
        // padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3em;
        margin-bottom: 4em;
    }
}
