tr:nth-child(even) {
    background-color: $color-bg-alt;
}

// tr {
//     border-bottom: 1px solid $color-fade;
// }

th {
    text-align: left;
}

td {
    padding: .25em .5em;
 }
// first column a bit more left-padded
// tr > td
//   padding-left: .3em
